@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 80px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#222A35;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #575C66;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #626970;
  }

.section-animation {
  will-change: transform, opacity;
  backface-visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
  .section-animation {
    animation: none;
    transition: none;
  }
}
/* src/App.css */
.blog-container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  background: #f9f9f9;
}

.blog-title {
  font-size: 2rem;
  color: #333;
}

.blog-post {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.blog-post:hover {
  background: #f1f1f1;
}

.link {
  text-decoration: none;
  color: #007bff;
}
/* src/App.css */
.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}